@font-face {
  font-family: 'alliance_no.1semibold';
  src: url('alliance-no-1-semi-bold.woff2') format('woff2'),
       url('alliance-no-1-semi-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
      body {
      /* background-color: #f86449; */
      background-color: white;
      font-family: 'alliance_no.1semibold';
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      color: white;
      }

      h1 {
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: 'alliance_no.1semibold';
      letter-spacing: -0.03em !important;
      font-feature-settings: "ss02" on,"ss01" on;
      font-size: 55px !important;
      line-height: 40%;
      /* margin-top: 35vh; */
      }
      p {
      color: black;
      text-align: center;
      line-height: 100%;
      font-family: 'alliance_no.1semibold';
      }
      h2 {
      color: rgb(0, 0, 0);
      text-align: center;
      font-family: 'alliance_no.1semibold';
      line-height: 40%;
      font-weight: 10;
      }
      h3 {
      color: rgb(230, 230, 230);
      text-align: center;
      font-family: 'alliance_no.1semibold';
      line-height: 0.00000001%;
      }
      a {
        color: black;
        font-size: 140%;
        font-family: 'alliance_no.1semibold';
        font-weight: 10;
      }  
    
    a:link { text-decoration: none; }
    
    
    a:visited { text-decoration: none; }
    
    
    a:hover { text-decoration: none; }
    
    
    a:active { text-decoration: none; }
   

    .wrapper{
        width: 100vw;
        height: 100vh;
        align-items: center;
        text-align: center;
        line-height: normal;
        background-color: #130f40;
        background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    }

    .links {
      margin-top: 0px;
      display: inline;
    }


    .links a:hover {
      text-decoration: underline white;
      text-underline-offset: 10px;

    }

    .links {
      margin-top: 0px;
      display: inline;
    }

    .links a:hover {
      text-decoration: underline white;
      text-underline-offset: 10px;

    }
     .links a, .dropdown-btn {
      text-decoration: none;
      /* font-weight:600; */
      font-size: 20px;
      color: #ffffff;
      border: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 200px;
      background: none;
      text-align: center;
      cursor: pointer;
      outline: none;
      font-family: 'alliance_no.1semibold';
      border-radius: 8px;
      word-wrap: normal;
      display: inline-block;
      animation-name: FadeIn;
      animation-duration: 3s;
      transition-timing-function: linear;
      opacity: 0;
      animation-fill-mode: both;
      animation-delay: 10s;
    }

    .fadeInTop {
      -webkit-animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-in-bck-top {
      0% {
        -webkit-transform: translateZ(700px) translateY(-300px);
                transform: translateZ(700px) translateY(-300px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-bck-top {
      0% {
        -webkit-transform: translateZ(700px) translateY(-300px);
                transform: translateZ(700px) translateY(-300px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
    
    .ArrowDown{
      margin-top: 85vh;
      margin-left: 49vw;
      font-size: 35px;
      height: 100px;
      background-color: none;
      color: white;
      display: flex;
      position: fixed;
      -webkit-animation:wobble-hor-bottom 2s infinite both;
      animation:wobble-hor-bottom 2s infinite both;
    }

    .ArrowDown a{
      color: white;
    }
    
    /* .dropdown-btn .dropdown-container{animation-duration: 0ms; animation-delay: 50ms;} */
    .dropdown-btn{ animation-delay: 700ms; }
    .wrapper a:nth-child(1){ animation-delay: 500ms; }
    .wrapper a:nth-child(2){ animation-delay: 600ms; }
    .wrapper a:nth-child(3){ animation-delay: 700ms; }
    .wrapper a:nth-child(4){ animation-delay: 800ms; }

    
      @-webkit-keyframes wobble-hor-bottom{0%, 100%{opacity: 1; -webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

      @keyframes FadeIn {
        
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      @-moz-keyframes FadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      @-webkit-keyframes FadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
    /* .dropdown-container {
        position: relative;
        margin-left: 21.5vw;
        width: 200px;
        border-radius: 8px;
        display: none;
        background-color: #3b82f6;
        padding-left: 0px;
        z-index: 9;
        line-height: 5px;
        margin-top: 25px;
    }
    .dropdown-container a {
      font-size: 20px;
      line-height: 5px;
      margin-top: 0px;
    }
 
    
    /* Optional: Style the caret down icon */
    .fa-caret-down {
      float: center;
      padding-right: 96;
    }  */

      .blogpost {
         /*background-color: rgba(46, 89, 129, 0.397);*/
         border-radius: 15px;
         background-color: #3b82f6;
         padding: 30px;  
         text-align: center;
         width: 70%;
         margin-left: auto;
         margin-right: auto;
         height: 100%
      }

      .main-content {
        background-color: white;
        width: 100%;
        height: 65vh;
        padding: 0;
        margin-top: 0px;
        color: black;
      }

      .Projects ul {
        list-style-type: none;
        text-align: center;
        line-height: 15px;
      }
      #project-title{
        font-size: 80px;
        font-family: 'alliance_no.1semibold';
        color: rgb(0, 0, 0) !important;
      }
      .Projects ul li a {
        text-decoration: none;
        font-size: 70px;
        color: rgb(0, 0, 0);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 40px;
        line-height: 70px;
      }

      .fadeIn {
        -webkit-animation: fadeIn 0.8s both;
        animation: fadeIn 0.8s both;
        animation-delay: 2s;
      }
       ul li a:hover{
        color:#1d3c6d; 
      }
      
      #bottom-project {
        margin-bottom: 400px;
      }
      
      .blogpost p {
        color: white;
        font-family: 'alliance_no.1semibold';
        font-size : 20px;
      }
      .blogpost h2 {
        color: white;
        font-size: 30px;
      }
      .blogpost h5 {
        color: white;
      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Footer */
      .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }
      
     
      /*All the timer stuff in HAGS*/
      .Timer{
        text-align: center;
      }
      .Timer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        display: inline-block;
        *display: inline;
        zoom: 1;
        border-style: solid;
        border-radius: 15px;
        border-width: 2px;
        border-color: #3b82f6;
        width: 100px;
        text-align: center;
        background-color: #3b82f6;
    }
    .Timer ul #DaysUnits, #HoursUnits, #MinutesUnits, #SecondsUnits{
      font-size: 15px;
    }
    .Timer ul li{
      font-size: 360%;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;
    }

    .footer-home-page {
      height: 100px;
      position: relative;
    }

    .location {
      margin: 0;
      position: absolute;
      top: 50%;
      float: left;
      padding-left: 20px;
      font-size: 20px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }    

    .contact {
      margin-left: 95vw;
      position: absolute;
      top: 50%;
      float: right;
      padding-right: 20px;
      font-size: 20px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }    
    
    .contact a{
      font-size: 25px !important;
    }

    .contact a:hover {
      color:#1d3c6d; 
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
    }
